<%- include('header') -%>
<div class="text-center center" style="margin-top: 50px;"><h2>Register</h2></div>
<p></p>
<div class="container w-25 border py-5 text-center">
    <form action="/bcryption" method="post" > 

        <div class="mb-3 ">
            <!-- <label for="email1" class="form-label">Email</label> -->
            <input class="form-control" type="text" name="abcd" id="email1" placeholder="Name"/>
        </div>
        <div class="mb-3 ">
            <!-- <label for="email1" class="form-label">Email</label> -->
            <input class="form-control" type="email" name="defg" id="email1" placeholder="Email"/>
        </div>
        <div class="mb-3">
            <button class="btn btn-secondary" type="submit">Sign Up</button>
        </div>
    </form>
</div>
<%- include('footer') -%>
