<%- include('header') -%>

<div class="container w-30 border py-5 text-center ">
    <h2>Your data..</h2>
    <p></p>
<table class="table ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">email</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Thornton</td>
        <td>Thornton</td>
        <td>Jacob</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

<%- include('footer') -%>
