<%- include('header') -%>


<div class="text-center center" style="margin-top: 50px;"><h2>LogIn</h2></div>
<p></p>
<div class="container w-25 border py-5 text-center">
    <form>
        <div class="mb-3 ">
            <!-- <label for="email1" class="form-label">Email</label> -->
            <input class="form-control" type="email" name="email"  placeholder="Email"/>
        </div>
        <div class="mb-3">
            <!-- <label for="password1" class="form-label">password</label> -->
            <input class="form-control" type="password" name="password"  placeholder="Password"/>
        </div>
        <div class="mb-3">
            <button class="btn btn-info">Login</button>
            <button class="btn btn-secondary">Sign Up</button>

        </div>
    </form>
</div>

<%- include('footer') -%>
